@tailwind base;
@tailwind components;
@tailwind utilities;

.black-overlay{
    background-color: rgba(0, 0, 0, 0.7);
}

/* Prevent browser back/forward swipe */
.no-browser-swipe {
    touch-action: pan-y;
    overscroll-behavior-x: contain;
  }
  
  